.FAQ{
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 0px;
    margin-top: 0px;

}

.FAQ > h4{
    margin: 0px;
    position: relative;
    text-align: center;
    background-color: #573023;
    font-size: 40px;
    color: white;
    font-weight: 700;
    padding: 40px;

}

.Comments{
    margin: 0px;
    position: relative;
    background-size: cover;
    opacity: 90%;
    background-position-x: center;
    /*filter: brightness(45%);*/

}