.ListDevlog{
    background-image: linear-gradient(to bottom, rgba(50,50,50,1),#446382,#446382,#446382, rgba(50,50,50,1));

    display: flex;
    flex-direction: column;
    align-items: center;
}

.ListDevlog > ul{
    position: relative;
    text-align: left;
    width: 85%;
}

.ListDevlog > ul li{
    list-style: none;
}

.ListDevlog > ul li div{
    width: 96%;
    height: 400px;
    border-radius: 30px 30px 0 0 ;
    background-size: cover;
    filter: brightness(45%);
    border-style: solid;
    border-color: #573023;
    border-bottom: none;
}

.ListDevlog > ul li p{
    position: relative;
    top: -80px;
    margin: 0;
    font-size: 16px;
    color: white;
    font-family: Bookman Old Style;
    font-weight: 600;
    padding: 10px 20px;
}

.ListDevlog > ul li p:nth-child(4){
    background-color: #573023;
    position: relative;
    width: 92.80%;
    top: -80px;
    left: 0px;
    height: fit-content;
    border-radius: 0 0 30px 30px;
    padding: 20px;
    border-style: solid;
    border-color: #2b1811;
    word-wrap: break-word;

}

.AddDevlog{
    background-color: rgba(143, 159, 176, 0.2);

    position: relative;
    align-items: center;
    display: flex;
    width: 90%;
    flex-direction: column;
    padding-bottom: 20px;
    border-radius: 30px;
    margin-bottom: 10px;
}

.AddDevlog > h4 {
    background-color: #B2A07A;
    position: relative;
    width: fit-content;
    padding: 10px;
    color: white;
    font-family: Bookman Old Style;
    font-weight: 700;
    border-radius: 10px 10px 0 0;
    margin-bottom: 0px;
    border-style: solid;
    border-color: #2b1811;
    border-bottom: none;
}

.AddDevlog > form{
    width: 90%;
}

.AddDevlog > form div{
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    /*width: 100%;*/
    background-color: #B2A07A;
    padding: 20px;
    color: white;
    font-family: Bookman Old Style;
    font-weight: 700;
    margin-bottom: 0px;
    margin-top: 0px;
    border-color: #2b1811;
    border-style: solid;
}

.AddDevlog > form div:nth-child(1){
    border-radius: 10px 10px 0 0;
    border-bottom: none;
}

.AddDevlog > form div:nth-child(4){
    border-radius: 0 0 10px 10px;
    border-top: none;
}

.AddDevlog > form div:nth-child(2), .AddDevlog > form div:nth-child(3){
    border-bottom: none;
    border-top: none;
}

.AddDevlog > form div:nth-child(odd){
    background-color: #573023;
}

.AddDevlog > form div label{
    display: inline-block;
    width: 100px;
    /*margin-right: 10px;*/
    margin-bottom: 0px;

    /*background-color: #61dafb;*/
}

.AddDevlog > form div input{
    /*margin-right: 10px;*/
    position: relative;
    left: 0px;
    width: 85%;
    /*padding: 10px;*/
    border-radius: 10px;
    background-color: #7a6b66;
    font-family: Bookman Old Style;
    font-weight: 700;
    padding: 10px 20px;
    color: white;
    height: fit-content;
    word-break: break-word;
    word-break: break-word;
    height: fit-content;
    text-wrap: normal;
}

.AddDevlog > form div textarea{
    /*margin-right: 10px;*/
    position: relative;
    left: 0px;
    width: 85%;
    /*padding: 10px;*/
    border-radius: 10px;
    background-color: #7a6b66;
    font-family: Bookman Old Style;
    font-weight: 700;
    padding: 10px 20px;
    color: white;
    height: fit-content;
    word-break: break-word;
    word-break: break-word;
    height: fit-content;
    text-wrap: normal;
    rows: 1;

}

button.AddDevlogButton{
    background-color: #573023;
    font-size: 16px;
    position: relative;
    width: fit-content;
    padding: 10px;
    color: white;
    font-family: Bookman Old Style;
    font-weight: 700;
    border-radius: 0 0 10px 10px;
    margin-bottom: 0px;
    border-style: solid;
    border-width: medium;
    border-color: #2b1811;
    border-top: none;
    cursor: pointer;
}