
.ListComments > ul{
    width: 75%;
    position: relative;
    left: 7%;
    text-align: left;
    margin-top: 0px;
    background-position-x: center;
    /*filter: brightness(100%);*/
}

.ListComments{

}

.Nick{
    width: fit-content;
    padding: 10px;
    background-color: #573023;
    border-radius: 10px 10px 0px 0px;
    /*color: white;*/
    /*font-family: Bookman Old Style;*/
    /*font-weight: 700;*/
    margin-bottom: 0;
}

.Comment{
    background-color: #B2A07A;
    border-style: solid;
    border-color: #573023;
    margin-top: 0px;
    margin-bottom: 0px;
    height: fit-content;
    padding: 20px;
    border-radius: 0px 10px 0px 0px;
    word-wrap: break-word;

}

.ListComments > ul li{
    list-style: none;
}

.ListComments > ul li p{
    color: white;
    font-family: Bookman Old Style;
    font-weight: 700;

}

button.Delete{
    position: relative;
    top: 120px;
    left: 101%;

    background-color: #ed193b;
    border: none;
    color: white;
    padding: 24px 20px;
    color: white;
    font-family: Bookman Old Style;
    font-weight: 700;
    border-radius: 10px;

    cursor: pointer;


}
button.Delete:hover{
    background-color: #ad122b;

}

.Answer{
    background-color: #573023;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    margin: 0px;
    height: fit-content;
}

.ListComments > ul li form{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    border-style: none;
    margin-top: 0px;
    /*display: inline-block;*/
    background-color: #573023;
    border-radius: 0 0 10px 10px;
    padding: 20px;
}

.ListComments > ul li form label{
    background-color: #573023;
    color: white;
    font-family: Bookman Old Style;
    font-weight: 700;
    padding: 10px 20px;

}

.ListComments > ul li form textarea{
    /*width: 85%;*/

    border-radius: 10px;
    background-color: #7a6b66;

    font-family: Bookman Old Style;
    font-weight: 700;
    padding: 10px 20px;
    color: white;
}

button.SubmitAnswer{
    position: absolute;
    top: 0px;
    left: 101%;
    width: fit-content;


    background-color: #4c86ed;
    border: none;
    color: white;
    padding: 24px 20px;
    color: white;
    font-family: Bookman Old Style;
    font-weight: 700;
    border-radius: 10px;

    cursor: pointer;
}

button.SubmitAnswer:hover{
    background-color: #303ec9;
}

.AddComment{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 75%;
    /*background-color: #ad122b;*/
    left: 10%;
    margin-top: 0px;
    padding-bottom: 20px;

}

.AddComment > h4{
    background-color: #B2A07A;
    position: relative;
    width: fit-content;
    padding: 10px;
    color: white;
    font-family: Bookman Old Style;
    font-weight: 700;
    border-radius: 10px 10px 0 0;
    margin-bottom: 0px;
    border-style: solid;
    border-color: #573023;
    border-bottom: none;
}

.AddComment > form{
    width: 100%;

}

.AddComment > form div{
    text-align: left;
    /*width: 100%;*/
    background-color: #B2A07A;
    padding: 20px;
    color: white;
    font-family: Bookman Old Style;
    font-weight: 700;
    margin-bottom: 0px;
    margin-top: 0px;
    border-color: #573023;
    border-style: solid;

    /*display: flex;*/
    /*flex-direction: row;*/
    /*align-items: center;*/

}

.AddComment > form div label{
    display: inline-block;
    position: relative;
    width: 100px;
    /*margin-right: 10px;*/
    margin-bottom: 0px;
    top: -20px;

    /*background-color: #61dafb;*/
}

.AddComment > form div textarea{
    /*margin-right: 10px;*/
    position: relative;
    width: 85%;
    left: 0px;
    /*padding: 10px;*/
    border-radius: 10px;
    background-color: #7a6b66;
    font-family: Bookman Old Style;
    font-weight: 700;
    padding: 10px 20px;
    color: white;
    height: fit-content;
    word-break: break-word;
}

.AddComment > form div:first-child{
    border-radius: 10px 10px 0 0;
    border-bottom: none;
    background-color: #573023;
}

.AddComment > form div:nth-child(2){
    border-radius: 0 0 10px 10px;
    border-top: none;
}

button.SubmitQuestion{
    position: absolute;
    top: 60px;
    left: 101%;
    background-color: #45ad43;
    border: none;
    color: white;
    padding: 24px 20px;
    color: white;
    font-family: Bookman Old Style;
    font-weight: 700;
    border-radius: 10px;

    cursor: pointer;
}

button.SubmitQuestion:hover{
    background-color: #75ad6d;
}
