body {
    background-color: #282828;
}

.Napis {
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 36px;
    font-family: "Bookman Old Style";
    font-style: normal;
    font-weight: 700;
}

.Logo {
    position: absolute;
    width: 250px;
    height: 300px;
    left: 23px;
    top: -10px;
}

Witch.Napis {
    background-color: black;
    position: absolute;
    left: 250px;
    top: 88px;
}

Way.Napis {
    background-color: black;
    position: absolute;
    left: 250px;
    top: 138px;
}

.menuButton {
    color: white;
    font-size: 32px;
    fill: black;
    text-decoration: none;
    text-align: center;
    background-color: black;
    border-style: none;
    font-family: "Bookman Old Style";
    font-style: normal;
    font-weight: 700;
}

FAQ.menuButton {
    position: absolute;
    top: 100px;
    left: 500px;
}

DevLog.menuButton {
    position: absolute;
    top: 100px;
    left: 700px;
}

Settings.menuButton {
    position: absolute;
    top: 50px;
    right: 100px;
}

/*#################################WitchWay################################*/

.tlo {
    position: absolute;
    width: auto;
    height: 1080px;
    z-index: -10;

}

#flora {
    top: 42px;
}

.contener{
    display: flex;
    justify-content: center;
    align-content: center;

}

WitchWay.Napis {
    position: absolute;
    font-size: 100px;
    top: 540px;
}

.Button {
    position: relative;
    top: 600px;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 32px;

    background-color: rgba(255,255,255,0.5);
    border-radius: 10px;
    width: 250px;
    height: 75px;
}

#Watch{
    position: relative;
    top:10px;
    color: white;
}

/*#################################AmazingAdventure#################################*/

Amazing.Napis{
    position: absolute;
    top: 1200px;
    font-size: 60px;
    right: 50px;
    color: black;
}

InAWorld.Napis{
    position: absolute;
    top:1350px;
    font-size: 48px;
    right: 20px;
    color: black;
    width: 700px;
}








