:root {
  --additionaltextsize: 0px;

  --textColorCreamy: #F6F1CB;
  --textColorBrown: #5E3A1F;

  --bgColorNull: null;
  --bgColorCreamy: #F6F1CB;
  --bgColorPeanutButter: #CE9F54;
  --bgColorBrown: #5E3A1F;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F6F1CB;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  padding: 1vh;
  background-color: var(--bgColorBrown);
  width: 44vh;
  color: var(--textColorCreamy);
  border: none;
  border-radius: 1vh;
  cursor: pointer;
  opacity: 1;
}
/*########################################### NAVBAR ###########################################*/
.navbar {
  position: fixed;
  top: 0;
  /*position: sticky;*/
  background-color: var(--bgColorBrown);
  height: 150px;
  width: 100%;
  z-index: 5;
}

.navbar div {
  display: inline-block;
}

.Logo-navbar {
  position: absolute;
  left: 25px;
  top: 10px;
}

#PawsomeProvisions-Navbar {
  position: absolute;
  color: var(--textColorCreamy);
  background-color: var(--bgColorNull);
  font-family: "Anek Gujarati", sans-serif;
  font-size: calc(36px + var(--additionaltextsize));
  width: 60px;
  line-height: 40px;
  left:155px;
  top: 10px;
}

.navbar-middle {
  position: relative;
  justify-content: space-between;
  align-items: center;
  top: 20px;
}

.navbar-middle li {
  display: inline-block;
  padding: 20px;
  color: var(--textColorCreamy);
  background-color: var(--bgColorNull);
  font-family: "Anek Gujarati", sans-serif;
  font-size: calc(36px + var(--additionaltextsize));
}

.Link{
  text-decoration: none;
  color: var(--textColorCreamy);
  background-color: var(--bgColorNull);
}

.navbar-right{
  position: absolute;
  right: 30px;
  top: 40px;
}

.navbar-right img{
  display: inline-block;
  padding: 0px 10px 0px 10px;


}

.navbar-right img:hover{
  cursor: pointer;
}


.navbar-popup {
  position: relative;
  //top: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #CE9F54;
  border-radius: 10px;
  width: 250px;
  height: fit-content;
  font-family: "Anek Gujarati", sans-serif;
  border-width: 5px;
  border-color: #5E3A1F;
  border-style: solid;
}

.navbar-popup2 {
  position: relative
;
  right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #CE9F54;
  border-radius: 10px;
  width: 250px;
  height: calc(160px + var(--additionaltextsize));
  font-family: "Anek Gujarati", sans-serif;
  border-width: 5px;
  border-color: #5E3A1F;
}

.navbar-popup-konto{
  display: flex;
  flex-direction: column;
  align-items: center;
  //background-color: #aeff86;
  padding: 10px;
}

.navbar-popup-konto button {
  width: 200px;
  margin: 5px;
  //background-color: #aeff86;
}


.navbar-popup h1 {
  font-size: calc(24px + var(--additionaltextsize));
  color: var(--textColorBrown);
  background-color: var(--bgColorNull);

}
.navbar-popup2 h1 {
  font-size: calc(18px + var(--additionaltextsize));
  color: var(--textColorBrown);
  background-color: var(--bgColorNull);

}

.navbar-popup-logowanie {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.navbar-popup-logowanie button {
  position: relative;
  margin: 15px;
  width: 200px;
}

.navbar-popup-logowanie textarea{
  position: relative;
  display: block;
  margin-top: 5px;
  padding: 5px;
  height: 15px;
  border-radius: 5px;
  border-width: 3px ;
  border-color: #5E3A1F;


  resize: none;
}

.navbar-popup-logowanie input {
  position: relative;
  display: block;
  margin-top: 5px;
  padding: 5px;
  height: 15px;
  border-radius: 5px;
  border-width: 3px ;
  border-color: #5E3A1F;
  border-style: solid;
}

.navbar-popup-logowanie h3{
  color: var(--textColorBrown);
  margin: 0px;
  padding: 0px;
  position: relative;
  top: 10px;
  cursor: pointer;
}

textarea:focus, input:focus{
  outline: none;
}


/*.navbar-popup button{
  position: relative;
  top: 10px;
  background-color: var(--bgColorBrown);
  border: none;
  color: var(--textColorCreamy);
  font-size: calc(16px + var(--additionaltextsize));
  text-align: center;
  border-radius: 10px;

}*/

.navbar-popup2 button2{
  position: relative;
  top: 0px;
  border: none;
  color: var(--textColorBrown);
  background-color: var(--bgColorCreamy);
  font-size: calc(16px + var(--additionaltextsize));
  text-align: center;
  width: 80px;
  height: 30px;
  border-radius: 8px;
  padding: 5px;
  line-height: 2.2;
}

.navbar-popup2 button2:hover {
  cursor: pointer;
}

.navbar-popup button:hover {
  cursor: pointer;
}

.navbar-popup-rejestracja{
  /*background-color: #5E3A1F;
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 50px;
  position: relative;
  top: 30px;*/
}

.navbar-popup-rejestracja div {
  height: 4px;
  background-color: #5E3A1F;
  position: relative;
  top: 20px;
}

.navbar-popup-rejestracja h2{
  color: var(--textColorBrown);
  background-color: var(--bgColorNull);
  font-size: calc(24px + var(--additionaltextsize));
}
#Popup-Register-Link{
  color: var(--textColorCreamy);
  background-color: var(--bgColorNull);
  text-decoration: none;
}


/*########################################### FOOTER ###########################################*/

.Footer {
  background-color: #CE9F54;
  width: 100%;
  height: 300px;
  font-family: "Anek Gujarati", sans-serif;
  color: var(--textColorBrown);
  position: relative;
  z-index: 4;
}
.Footer-Top {
  background-color: #5E3A1F;
  height: 15px;
}

.Footer-Logo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  width: 170px;
  height: 245px;
  left: 120px;
  bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.Footer-Logo h1 {
  position: relative;
  bottom: 20px;
  text-align: left;
  width: 170px;
  line-height: 40px;
  font-size: calc(36px + var(--additionaltextsize));
  background-color: var(--bgColorNull);
}

.Footer-Dane {
  position: absolute;
  display: flex;
  flex-direction: row;
  left: 400px;
  top: 20px;
}

.Footer-Text{
 width: 280px;
  background-color: var(--bgColorNull);
}

.Footer-Text h1{
  font-size: calc(24px + var(--additionaltextsize));
  text-align: left;
  background-color: var(--bgColorNull);
}

.Footer-Text div{
  font-size: calc(20px + var(--additionaltextsize));
  text-align: left;
  position: relative;
  bottom: 10px;
}

.Footer-Socjale {
  position: absolute;
  width: 230px;
  right: 100px;
  bottom: 100px;
}

.Footer-Socjale h1 {
  font-size: calc(24px + var(--additionaltextsize));
  background-color: var(--bgColorNull);
}

.Footer-Socjale img {
  display: inline-block;
  padding: 0px 5px 0px 5px;
}

.Footer-Bottom div {
  background-color: #5E3A1F;
  height: 8px;
  position: relative;

  width: 90%;
  margin-left: auto;
  margin-right: auto;
  top: 220px;
}

.Footer-Bottom h2 {
  font-size: calc(15px + var(--additionaltextsize));
  position: relative;
  width: 400px;
  top: 220px;
  right: -80px;
  background-color: var(--bgColorNull);
}
/*########################################### REGISTER ###########################################*/
.Register-Page{
  background-color: #F6F1CB;
  height: auto;
  padding-top: 200px;
  padding-bottom: 200px;
}

.Register-Page-BackgroundImages{

  display: flex;
  flex-direction: column;
}

.Register-Page-BackgroundImages img{
  position: absolute;
  z-index: 0;
}

.Register-Page-BackgroundImages img:first-child{
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  width: 700px;
  top: -200px;
  opacity: 25%;
}
.Register-Page-BackgroundImages img:last-child{
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  width: 700px;
  bottom: -530px;
  opacity: 25%;
}

.Register {
  padding: 20px;
  position: relative;
  /*top: 100px;*/
  margin-left: auto;
  margin-right: auto;
  background-color: #CE9F54;
  width: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  height: auto;
  border-radius: 30px;
}
.Register h1 {
  position: relative;
  top:-45px;
  background-color: var(--bgColorBrown);
  font-size: calc(36px + var(--additionaltextsize));
  font-family: "Anek Gujarati", sans-serif;
  width: 100%;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  color: var(--textColorCreamy);
}

.Register-Text-Area{
  position: relative;
  top: -20px;
  display: inline-block;
  /*width: 300px;*/
  background-color: #5E3A1F;
  width: fit-content;
  padding: 10px;
  vertical-align: center;
}

h1 + .Register-Text-Area{
  border-radius: 5px 5px 0px 0px;
}

.Register div label{
  display: inline-block;
  position: relative;
  background-color: var(--bgColorCreamy);

  width: 150px;
  height: 35px;
  font-family: "Anek Gujarati", sans-serif;
  font-size: calc(20px + var(--additionaltextsize));
  padding-left: 20px;
  padding-right: 20px;

  color: var(--textColorBrown);
  border-radius: 5px 0 0 5px;
}

.Register div textarea{
  display: inline-block;
  position: relative;
  top: 15px;
  height: 30px;
  border-radius: 0 5px 5px 0;
  resize: none;
  text-align: center;
  line-height: 30px;

}

.Register div input{
  display: inline-block;
  position: relative;
  width: 164px;
  
  height: 30px;
  border-radius: 0 5px 5px 0;
  resize: none;
  text-align: center;
  line-height: 30px;
}

.Register-CheckBox-Area{
  position: relative;
  top: -20px;
  width: 354px;
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: row;
  padding: 0px 10px 0px 10px;
  background-color: #F6F1CB;
  border-radius: 0 0px 5px 5px;
  border-style: solid;
  border-width: 2px;
  border-color: #5E3A1F;
  font-family: "Anek Gujarati", sans-serif;
  color: #5E3A1F;

}

.Register-CheckBox-Area h3::after{
  content: attr(data-end);
  color: red;

}

.Register button{
  background-color: var(--bgColorBrown);
  border: none;
  color: var(--textColorCreamy);
  font-size: calc(16px + var(--additionaltextsize));
  text-align: center;
  width: 80px;
  height: 30px;
  border-radius: 10px;

}

.Register-Popup {
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: #F6F1CB;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #5E3A1F;
  border-radius: 15px;
  border-style: solid;
  border-width: 3px;
  border-color: #5E3A1F;
  top: 200px;

}

.Register-Popup h1{
  position: relative;
  padding: 0;
  width: 100%;
  background-color: transparent;
  color: #5E3A1F;
  line-height: 40px;

}

.Register-Popup button{
  width: 250px;
  font-family: "Anek Gujarati", sans-serif;
  line-height: 20px;
}

/*########################################### KONTO ###########################################*/
.Konto{
  font-family: "Anek Gujarati", sans-serif;
  //color: #5E3A1F;
  width: 100%;
}
.Konto-Dane{
  width: 100%;
  background-color: #F6F1CB;
  display: flex;
  padding-top: 20px;
  bottom: 20px;
  height: 500px;


}

#Konto-Królik-Top{
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  top: -400px;
  opacity: 50%;
  scale: 0.5;
  object-fit: cover;
  z-index: 0;
  overflow: hidden;
}

.Konto-Dane h1{
  z-index: 4;
  position: relative;
}

.Konto-Left {
  /*background-color: #5E3A1F;*/
  position: relative;
  top: 100px;
  left: 50px;
  text-align: left;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  column-gap: 20px;
  height: 300px;
  width: 400px;
}

.Konto-Left h1{
  text-align: center;
}

.Konto-Left h2 {
  position: relative;
  line-height: 0.1;
  margin: 0;
  /*background-color: #5E3A1F;*/
}

.Konto-Right {
  position: relative;
  display: flex;
  flex-direction: column;
  top:100px;
  right: 50px;
  text-align: left;
  line-height: 30px;
  height: 300px;
  gap: 30px;
  width: 400px;

}

.Konto-Right h1{
  text-align: center;
}


.Konto-Nagłówek{
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.Konto-Right h2 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;

  margin: 0;
  /*background-color: #5E3A1F;*/
}

.Konto-Ołówek{
  top: 10px;
  left: 10px;
  position: relative;
  right: 0px;
  cursor: pointer;
}

.Konto-Dane-TwójAdres textarea{
  font-family: "Anek Gujarati", sans-serif;
  resize: none;
  position: relative;
  line-height: 20px;
  border: solid;
  border-width: 2px;
  border-color: #5E3A1F;
  border-radius: 10px;
}

.Pupile{
  position: relative;

  padding-bottom: 20px;
  z-index: 2;
  min-height: 500px;
  background: #CE9F54;
  height: fit-content;
}

.Pupile h1{
  background-color: #5E3A1F;
  color: #F6F1CB;
}

.Pupile ul{
  position: relative;

  list-style: none;
}

.Pupile-Guzik-Szuflada{
  position: absolute;
  scale: 0.8;
  margin: 0;
  right: 30px;
  rotate: 0deg;
  transition: 0.5s;

  /*position: relative;
  scale: 0.8;
  bottom: 65px;
  left: 45%;

  z-index: 8;
  background-color: #aeff86;*/
}

.Pupile-Ołówek {
  position: relative;
  margin: 0px;
  left: 20px;
 /* position: relative;
  top: 15px;
  left: 50px;
  //transform: scaleX(-1);
  cursor: pointer;
  margin: 0;
  padding: 0;

  Z-index: 1;*/
}

.Pupile-Nagłówek {
  height: fit-content;
  position: relative;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #F6F1CB;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  padding: 20px 20px 20px 20px;
  border-radius: 15px;
  margin-top: 30px;

}

.Pupile-Nagłówek h2{
  position: relative;
  width: fit-content;
  text-align: left;
  font-family: "Anek Gujarati", sans-serif;
  font-size: calc(30px + var(--additionaltextsize));
  line-height: 30px;
  margin: 0;
  color: var(--textColorBrown);
  /*position: relative;
  margin-left: auto;
  margin-right: auto;
  left: -20px;
  width: 200px;

  text-align: left;*/


  /*transition-delay: 0.5s;*/

  /*border-radius: 15px 15px 0px 0px;*/
  /*margin-bottom: 0px;*/

}

.Pupiple-Informacje{

  background-image: linear-gradient(to bottom, #e8bc76, #F6F1CB);

  width: 1200px;
  position: relative;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  bottom: 0px;
  height: 0px;
  padding: 0px 20px 0px 20px;

  /*padding: 10px 20px 10px 20px;*/
  border-radius: 0 0 15px 15px;
  transition-duration: 0.5s;
  /*height: 0px;*/
  overflow-y: hidden;
}

.Pupiple-Informacje p {
  position: relative;
  font-family: "Anek Gujarati", sans-serif;
  font-size: calc(24px + var(--additionaltextsize));;
  font-weight: bold;
  line-height: 20px;
  text-align: left;
  color: #5E3A1F;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Pupiple-Informacje textarea{
  position: relative;
  left: 10px;
  resize: none;
  line-height: 17px;
  padding: 1px;
  border-color: #5E3A1F;
  color: #5E3A1F;
  border-width: 2px;
  border-radius: 3px;
  font-family: "Anek Gujarati", sans-serif;
  background-color: #F6F1CB;
}

.Pupile-Guziki{
  position: relative;
  width: 1000px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;

}

#Zaktualizuj-karmę{
  margin-left: 30px;
}

.Pupiple-Informacje img {
  position: absolute;
  top: -300px;
  right: -200px;
  opacity: 0.5;
  scale: 0.5;
}

.Pupile-Dodaj {
  background-color: #5E3A1F;
  width: 1200px;
  position: relative;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 20px 0px 20px;
  border-radius: 15px 15px 15px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin-top: 30px;
  cursor: pointer;

}

#Pupile-Link{
  width: 1200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.Pupile-Dodaj h2 {
  font-family: "Anek Gujarati", sans-serif;
  font-size: calc(30px + var(--additionaltextsize));
  line-height: 30px;
  color: var(--textColorCreamy);
  text-decoration: none;
}

Link {
  text-decoration: none;
}

.Pupile-Dodaj img {
  //rotate: 45deg;
  scale: 1.1;
  margin-left: 10px;

}


.Konto-Bottom{

  position: relative;
  height: 300px;
  width: 100%;
  background: #F6F1CB;
  overflow: hidden;

}

.Konto-Bottom img {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  top: -650px;
  opacity: 50%;
  scale: 0.5;
  object-fit: cover;
  z-index: 0;
  overflow: hidden;

}
/*########################################### HOME ###########################################*/

.Home{
  position: relative;
  align-items: center;
  margin: 0;
  padding-bottom: 20px;
  z-index: 2;
  height: 500px;
  background: #F6F1CB;
  height: fit-content;

}

.Home-cookies{
  position: fixed;
  align-items: center;

  height: fit-content;
  width: 70%;
  left: 50%;
  top: 400px;
  transform: translate(-50%, -50%);
  background: rgba(94, 58, 31, 0.9);

  border-radius: 15px;
  z-index: 20;
}



.Home-cookies h1{
  display: grid;
  color: var(--textColorCreamy);
  text-align: left;
  margin-left: 50px;
  margin-top: 20px;
  font-size: calc(2vh + var(--additionaltextsize));
  size: 10px;
  z-index: 10;
}
.Home-cookies h2{
  display: grid;
  text-align: justify;
  padding: 20px;
  margin-left: 30px;
  margin-right: 30px;
  color: var(--textColorCreamy);
  font-size: calc(16px + var(--additionaltextsize));
  size: 7px;
  z-index: 10;
}

.Home-cookies a{
  display: grid;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 1%;
  background: #e8bc76;
  margin-left: 40%;
  margin-right: 40%;
  color:#5E3A1F;
  font-size: calc(16px + var(--additionaltextsize));
}


.Home-cookies button{
width: 20%;
  padding: 20px;
  margin: 5px;
  color:#5E3A1F;
  font-size: calc(15px + var(--additionaltextsize));
  background: #F6F1CB;
  z-index: 10;
}

#polityka{
  width: 20%;
  padding: 20px;
  margin: 5px;
  color:#F6F1CB;
  font-size: calc(15px + var(--additionaltextsize));
  background: #5E3A1F;
  border-radius: 10px;
  z-index: 10;
  border: 3px solid #F6F1CB;}

.Home-Top {
  color: #5E3A1F;
  width: 100%;
  height: 500px;
  margin: 0;
  text-align: center;
  opacity: 1;
  overflow: hidden;

}

/*.Home-Top::before {*/
/*  content: "";*/
/*  position: absolute;*/
/*  background-size: contain;*/
/*  background-position: center top;*/
/*  background-repeat: no-repeat;*/
/*  top: -50px;*/
/*  right: 400px;*/
/*  bottom: 0px;*/
/*  left: 400px;*/
/*  background-image: url('Assets/piesek.png');*/
/*  opacity: 0.2;*/
/*}*/

#HeaderMain-Home{
  margin: 0px;
  padding: 10px;
  font-size: calc(50px + var(--additionaltextsize));
  color: var(--textColorBrown);
  background-color: var(--bgColorNull);
}
#Header-Home{
  margin: 20px;
  padding: 20px;
  margin-left: 250px;
  margin-right: 250px;
  position: sticky;
  text-align: center;
  color: var(--textColorBrown);
  background-color: var(--bgColorNull);
  font-size: calc(18px + var(--additionaltextsize));
}

.Inputs-Home{
  text-align: center;
  align-items: center; /* Wyśrodkowujemy elementy w poziomie */
}
input[type="text"] {
  padding: 1vh;
  text-align: center;
  width: 40vh;
  border: 1vh solid #ccc;
  border-radius: 1px;
  margin-bottom: 3vh;
  opacity: 1;
  text-size-adjust: auto;
}


.Home-Top img {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  top: -45vh;
  opacity: 30%;
  scale: 0.39;
  object-fit: cover;
  z-index: -1;
  overflow: auto;

}


.Home-Middle{
  color: var(--textColorCreamy);
  width: 100%;
  background: var(--bgColorPeanutButter);
  opacity: 1;
  height: 100%; /*600px;*/
}
.KarmyHeader-Home{
  background: var(--bgColorBrown);
}
.KarmyMain-Home{
  align-items: center;
  justyfy-content: center;
  width: 100%;
  align-content: center;
  margin-left: auto;
  margin-right: auto ;
  align-items: center;
  align-content: center;
  justyfy-content: center;

}
.KarmyBottom-Home {
  width: 80%;
  margin-left: auto;
  margin-right: auto ;
  display: flex;
  overflow-x: scroll;
  align-items: center;
  align-content: center;
  justyfy-content: center;
  margin-bottom: 3%;
}
.KarmyBottom-Home::-webkit-scrollbar {
  padding: 20px;
  background: #f1f1f1;
  position: absolute;
  /*left: 30px;*/
  /*width: 900px;*/
  /*height: 200px;*/
  /*top: 200px;*/
  /*display: flex;*/
  /*z-index: -1;*/
  /*margin-top: 20px;*/
}

.KarmyBottom-Home::-webkit-scrollbar-thumb{background:#5E3A1F;} /*bar*!*/
/*.KarmyBottom-Home::-webkit-scrollbar-track{display: none;} !*tlo bara*!*/
/*                                                                                                                                                                                                           ::-webkit-scrollbar-corner the bottom corner of the scrollbar, where both horizontal and vertical scrollbars meet.*/
/*.KarmyBottom-Home::-webkit-resizer{display: none;} !*chuj wie*!*/

/*.KarmyBottom-Home::-webkit-scrollbar-track-piece{*/
/*  display: none;*/
/*}*/
.KarmyBottom-Home::-webkit-scrollbar-button{
  background-color:#5E3A1F;
  color: white;

}

.KarmyDiv-Home{
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  padding: 10px; /*XD zawsze musi byc proporcja 2:1 w grid gap i padding*/
  flex: none;
  margin-bottom: 20px;
}
.KarmyBoxy-Home {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /*padding: 10px;*/
  text-align: center;
  width: 90%;
  border: 5px solid var(--textColorCreamy);
  border-radius: 5px;
  margin-left: 20px;
  /*margin-right: 40px;*/
  /*height: 70vh;*/
  opacity: 1;
  align-items: center;
  align-content: center;
  transition: transform 0.5s;
}
.KarmyBoxy-Home:hover{
  background:#F6F1CB;
  background: rgba(246, 241, 203, .2);
  cursor: pointer;
  transform: scale(1.04);
}
/*.KarmyDekoracyjnieL-Home{*/
/*  width: 90%;*/
/*  margin-left: 20px;*/
/*  background-color: #CE9F54;*/
/*  linearGradient: 100%;*/
/*  width: 10vw;*/
/*  height: 20%;*/
/*  position: absolute;*/
/*  top: 600px;*/
/*  display: flex;*/
/*  z-index: 2;*/
/*}*/

/*.KarmyButtonsL-Home, .KarmyButtonsR-Home{*/
/*  width: 1vw;*/
/*  height: 1vw;*/
/*  position: absolute;*/
/*  top: 1100px;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  cursor: pointer;*/
/*  z-index: 2;*/
/*  !*padding: 10px;*!*/
/*  !*background-color: #5E3A1F;*!*/
/*  !*margin-top: 10vh;*!*/
/*  !*width: 40px;*!*/
/*  !*color: #F6F1CB;*!*/
/*  !*border: none;*!*/
/*  !*border-radius: 5px;*!*/
/*  !*cursor: pointer;*!*/
/*  !*opacity: 1;*!*/

/*}*/
/*.KarmyButtonsL-Home{*/
/*  left: 10px;*/
/*}*/
/*.KarmyButtonsR-Home{*/
/*  right: 10px;*/
/*}*/

#NazwaKarmy-Home {
  color: var(--textColorBrown);
  background-color: var(--bgColorNull);
  font-size: calc(4vh + var(--additionaltextsize));;
}
.KarmyBoxy-Home img {
  width: 200px;
  bottom: 100px;
  box-sizing: inherit;
  /*padding: 0px 5px 0px 5px;*/
  margin: auto;
}
.KarmyBoxy-Home h2 {
  display: grid;
  color: var(--textColorCreamy);
  font-size: calc(2vh + var(--additionaltextsize));
  size: 10px;
}

.KarmyButtons2-Home{padding: 10px;
  background-color: var(--bgColorCreamy);
  color: var(--textColorBrown);
  /*margin-top: 50vh;*/
  width: 40vh;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 1;
  margin-bottom: 10px;
}
.KarmyButtons3-Home{
  background-color: var(--bgColorBrown);
  color: var(--textColorCreamy);
  width: 40vh;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 1;
  margin-bottom: 10px;
}

.Home-Bottom{
  color: #5E3A1F;
  width: 100%;
  opacity: 1;
  height: 50vh;
  overflow: hidden;
}

.Home-Bottom img {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  bottom: -80vh;
  opacity: 30%;
  scale: 0.29;
  object-fit: cover;
  z-index: -1;
  overflow: auto;
}


/*########################################### KOSZYK ###########################################*/

.Koszyk-Top{
  position: relative;
  height: 200px;
  width: 100%;
  background: #F6F1CB;
  overflow: hidden;
  margin: 0;

}

.Koszyk-Top img {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  opacity: 50%;
  scale: 0.5;
  object-fit: cover;
  z-index: 0;
  overflow: hidden;
  top: -700px;
}

.Koszyk-Content {
  background: #CE9F54;
  margin: 0px;
  height: fit-content;
  padding-bottom: 70px;

}



#Koszyk-Nagłówek{
  font-family: "Anek Gujarati", sans-serif;
  background: #5E3A1F;
  color: #F6F1CB;
  padding: 5px 0px 5px 0px;
}

.Koszyk-Produkty{
  background-image: linear-gradient(to bottom, #F6F1CB, #D8CDA9);
  width: 70%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
//margin-top: 50px;
//margin-bottom: 50px;
  border-radius: 15px;
  margin-top: 70px;
  min-height: 700px;

}

.Koszyk-Produkty .Produkty h1:first-child{
  color: #5E3A1F;
  position: relative;
  top: 50px;
  right: 200px;
}

.Produkty ul{
  list-style: none;
  position: relative;
  margin-top: 100px;
  height: fit-content;
}

.Produkty li {
  background: #F6F1CB;
  padding: 0px;
  width: 60%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 100px;
  border-radius: 10px;
  line-height: 30px;

  padding: 0px;
  font-size: calc(20px + var(--additionaltextsize));
  font-family: "Anek Gujarati", sans-serif;
  color: #5E3A1F;
  margin-bottom: 20px;


}

.Produkty li h2{
  font-size: calc(26px + var(--additionaltextsize));
  position: relative;
  right: 60px;
  width: 130px;
}

/*.Produkty li div {
  position: relative;
  font-size: 20px;
  left: 40px;
  color: purple;
}*/

.Koszyk-Produkty-Ilość {
  position: relative;
  //background-color: #aeff86;
  left: 80px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80px;

}

.Koszyk-Produkty-Ilość img{
  position: relative;
  scale: 0.4;
  display: block;
  margin: 0;
  left: 0px;
  right: 0px;
  cursor: pointer;
}

.Koszyk-Produkty-Ilość img:first-child{
  
  top: 15px;
  rotate: 90deg;
}

.Koszyk-Produkty-Ilość img:last-child{
  bottom: 15px;
  rotate: -90deg;
}

.Koszyk-Produkty-Ilość div{
  /*position: relative;

  left: 70px;*/

  background: #ab9d93;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  padding: 3px;
  padding-bottom: 0px;
  border-radius: 3px;
  margin: 0px;
}

.Produkty-Cena{
  position: relative;
  /*color: green;*/
  left: 50px;
}

.Produkty-Karma{
  position: relative;
  right: 25px;
}
.Produkty-Krzyżyk{
  position: relative;
  left: 20px;
  cursor: pointer;
}

.Koszyk-Produkty-Ilość div{
  font-size: calc(20px + var(--additionaltextsize));
}

.Koszyk-Produkty h1{
  color: #5E3A1F;
}

.Metoda-Płatności {
  //background: #aeff86;
  width: 60%;
  position: relative;
  left: 30px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.Koszyk-Ikonki {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: relative;


}

.Koszyk-Ikonki img{
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  //border-style: solid;

 /* border-width: 4px;
  border-radius: 30px;
  border-color: #CE9F54;*/
}

.Koszyk-Podsumowanie {
  position: absolute;
  display: flex;
  flex-direction: column;


  top: 20px;
  right: 50px;
  background-color: #F6F1CB;
  padding: 10px;
  padding-bottom: 30px;
  border-radius: 15px;
}

.Koszyk-Podsumowanie-Pole{
  //background-color: #aeff86;
  position: relative;
  left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  line-height: 20px;
  color: #5E3A1F;
  font-family: "Anek Gujarati", sans-serif;
  width: 400px;

}

.Koszyk-Podsumowanie-Pole h2 {
  text-align: left;
  font-size: calc(26px + var(--additionaltextsize));
  width: 300px;
}

.Koszyk-Podsumowanie-Pole div {
  font-size: calc(26px + var(--additionaltextsize));
  position: relative;

  width: 100px;
}

.Koszyk-Podsumowanie button{
  width: 200px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.Koszyk-CheckBox-Area{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  color: #5E3A1F;
  font-family: "Anek Gujarati", sans-serif;
  line-height: 20px;
  margin: 0px;
  padding: 0px;
}

.Koszyk a {
  font-size: 1.17em;
  padding-left: 0.2em;
}

.Koszyk-Podsumowanie h4{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  font-size: calc(16px + var(--additionaltextsize));
  margin-top: 0;
  color: red;
}

.Koszyk-Podsumowanie button:disabled{
  background-color: #9e9e9e;
  cursor: context-menu;
}

.Rabat{
  width: 370px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  resize: none;
  border: none;
  border-radius: 5px;
  background-color: #ab9d93;
  height: 20px;
  font-family: "Anek Gujarati", sans-serif;
  color: #5E3A1F;
  font-weight: bold;
}

.Koszyk-Kreska{
  display: block;
  height: 5px;
  width: 90%;
  background-color: #5E3A1F;
  position: relative;
  bottom: 20px;
}

.Koszyk-Bottom{
  position: relative;
  height: 300px;
  width: 100%;
  background: #F6F1CB;
  overflow: hidden;
}

.Koszyk-Bottom img{
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  opacity: 50%;
  scale: 0.5;
  object-fit: cover;
  z-index: 0;
  overflow: hidden;
  bottom: -900px;
}

.Koszyk-UzupełnijDane{
 //background-color: #aeff86;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.Koszyk-UzupełnijDane div{
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin-top: 2px;
  margin-bottom: 2px;
}

.Koszyk-UzupełnijDane div:last-child{
  margin-bottom: 5px;
}

.Koszyk-UzupełnijDane label{
  color: #5E3A1F;
  font-family: "Anek Gujarati", sans-serif;
  font-weight: bold;
}

.Koszyk-UzupełnijDane textarea {
  position: relative;
  right: 0px;
  margin-left: auto;

  width: 250px;
  resize: none;
  border: none;
  border-radius: 5px;
  background-color: #ab9d93;
  height: 20px;
  font-family: "Anek Gujarati", sans-serif;
  color: #5E3A1F;
  font-weight: bold;
}

/*########################################### KARMY ###########################################*/
.Karmy-Header{
  /*position: relative;*/
  /*align-items: center;*/
  /*margin: 0;*/
  /*padding-bottom: 20px;*/
  z-index: 2;
  height: 300px;
  background: #F6F1CB;
  box-sizing: border-box;
}
#HeaderMain-Karmy{
  padding: 10px;
  font-size: calc(50px + var(--additionaltextsize));
  color: var(--textColorBrown);
  background-color: var(--bgColorNull);

}

.Karmy-Header h3{
  color: var(--textColorBrown);
  position: relative;
  bottom: 30px;
  margin: 0;
  padding: 0;
}


.Karmy {
  height: auto;
  background: #F6F1CB;
}
.Shop{

  height: auto;
  background: #F6F1CB;
  display: flex;
}
#SB-Head{
  padding: 50px;
  font-size: calc(40px + var(--additionaltextsize));
  color:#F6F1CB;
}

.SearchingBar{
  z-index:3;
  margin-left: 2%;
  background:#5E3A1F ;
  width: 400px;
  height: fit-content;
  border-radius: 20px;
  padding: 10px;
  border-style: solid;
  border-width: 4px;
  border-color: #CE9F54;
  /*box-shadow: 5px 5px 15px;*/

}

.SearchingBar h1, .SearchingBar h2{
  font-size: calc(24px + var(--additionaltextsize));
  color: var(--textColorCreamy);
  margin: 0;
  padding: 0;
}

.SearchingBar h3{
  color: var(--textColorCreamy);
}

.SearchingBar button {
  background: #CE9F54;
  color: var(--textColorBrown);
  width: 300px;
}

.SearchingBar div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.SearchingBar div div{
//background: #aeff86;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  width: 200px;
}

.flex-container{
  margin-left: 2%;
  margin-right: 2%;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.flex-box{
  width: 300px;
  height: 600px;
  line-height: 200px;
  border-radius: 20px;
  margin: 10px;
  background: #e8bc76;
}
.FlexBoxy-Karmy {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /*padding: 10px;*/
  text-align: center;
  width: 300px;
  border: 5px solid #5E3A1F;
  background: #e8bc76;
  border-radius: 20px;
  margin: 10px;
  /*margin-right: 40px;*/
  /*height: 70vh;*/
  opacity: 1;
  align-items: center;
  align-content: center;
  transition: transform 0.5s;
}
.FlexBoxy-Karmy:hover{
  background: rgb(232, 188, 118,.5);
  cursor: pointer;
  transform: scale(1.04);
}


.FlexBoxy-Karmy img {
  width: 250px;

  /*padding: 0px 5px 0px 5px;*/
  margin: auto;
}
#NazwaKarmy-Karmy {
  color: var(--textColorBrown);
  background-color: var(--bgColorNull);
  font-size: calc(4vh + var(--additionaltextsize));
}

.FlexBoxy-Karmy h3 {
  display: grid;
  color: var(--textColorBrown);
  background-color: var(--bgColorNull);
  font-size: calc(4vh + var(--additionaltextsize));
}
.FlexBoxy-Karmy h2 {
  color: var(--textColorBrown);
  background-color: var(--bgColorNull);
  font-size: calc(2vh + var(--additionaltextsize));
  size: 10px;

}

.KarmyButtons2-Karmy{
  /*padding: 10px;*/
  background-color: var(--bgColorCreamy);
  color: var(--textColorBrown);
  border: 5px solid var(--bgColorBrown);
  width: auto;
  height:auto;
  border-radius: 10px;
  cursor: pointer;
  opacity: 1;
  margin-bottom: 10px;
}
.KarmyButtons3-Karmy{
  background-color: var(--bgColorBrown);
  color: var(--textColorCreamy);
  width: 80%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  opacity: 1;
  margin-bottom: 10px;
}

.Karmy-Popup{
  position: absolute;
  z-index: 5;
  background: #CE9F54;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 500px;
  padding: 40px;
  border-style: solid;
  border-color: var(--textColorBrown);
  border-radius: 15px;
  color: #5E3A1F;
}
/*########################################### KWIACIARA ###########################################*/
.Kwiaciara{
  height: 1200px;

  background: #F6F1CB;
}
.KwiaciaraButtonAndPrice{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /*justify-content: center;*/
  padding: 10px;
  width: 30%;
}
.Kwiaciara-content h9 {
  padding: 10px;
  font-size: calc(50px + var(--additionaltextsize));
  color: #5E3A1F;
  text-align: center;

}
.KwiaciaraButton{
  padding: 10px;
  background-color: #5E3A1F;
  color: #F6F1CB;
  /*margin-top: 50vh;*/
  width: 56vh;
  height: 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 1;
  margin-bottom: 10px;
  text-align: center;
  align-items: center;
  align-content: center;
}

.Kwiaciara-content img{
 padding-top: 200px;
 display: block;
  width: 100%;
  height: 50%;

}

.Kwiaciara-content{
  z-index: 2;
  display: flex;
  height: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background: #F6F1CB;
}

.Karmy-Header-Kwiaciara{
  width: 55%;
  padding-right:5% ;
  padding-left:3% ;
}

.Kwiaciara-content h1{
  padding: 10px;
  font-size: calc(50px + var(--additionaltextsize));
  color: #5E3A1F;
  text-align: left;

}
.Kwiaciara-content h2{
  padding: 10px;

  font-size: calc(25px + var(--additionaltextsize));
  color: #5E3A1F;
  text-align: justify;

}
.Kwiaciara-content h3{
  padding-left: 10px;
  font-size: calc(20px + var(--additionaltextsize));
  color: #5E3A1F;
  text-align: left;
}

.Kwiaciara-content h4 {
padding-left: 40px;
padding-right: 20px;

  font-size: calc(15px + var(--additionaltextsize));
  color: #5E3A1F;
  text-align: left;
}



/*###################################### KWESTIONARIUSZ ###########################################*/

.Kwestionariusz {
  background-color: var(--bgColorNull);
  color: var(--textColorBrown);
  height: auto;
  font-family: "Anek Gujarati", sans-serif;
}

.Kwestionariusz-header {
  font-size: calc(50px + var(--additionaltextsize));
  font-weight: bold;
  margin-block-start: 2em;
  margin-block-end: 0.5em;
}

.Kwestionariusz-subheader {
  font-size: calc(20px + var(--additionaltextsize));
}

.Kwestionariusz-question {
  margin-block-start: 2em;
  font-size: calc(30px + var(--additionaltextsize));
}

.Kwestionariusz select {
  text-align: center;
  font-weight: bold;
  -webkit-appearance: none;
  width: 20%;
  font-size: calc(1.15rem + var(--additionaltextsize));
  color: var(--textColorBrown);
  padding: 0.675em 1em 0.675em 1em;
  background-color: var(--bgColorCreamy);
  border: 2px solid var(--textColorBrown);
  border-radius: 0.25rem;
  cursor: pointer;
}

.Kwestionariusz input[type='text'] {
  text-align: center;
  font-weight: bold;
  -webkit-appearance: none;
  width: 20%;
  font-size: calc(1.15rem + var(--additionaltextsize));
  color: var(--textColorBrown);
  padding: 0.675em 1em 0.675em 1em;
  background-color: var(--bgColorCreamy);
  border: 2px solid var(--textColorBrown);
  border-radius: 0.25rem;
  cursor: pointer;
}

.Kwestionariusz input[type='checkbox'] {
  height: 20px;
  width: 20px;
  margin: auto;
  background-color: #F6F1CB;
  border-color: #5E3A1F;
}

.Kwestionariusz h10 {
  font-size: calc(25px + var(--additionaltextsize));
  margin: auto;
  margin-left: 10px;
  margin-right: 10px;
}

.Kwestionariusz h11 {
  font-size: calc(20px + var(--additionaltextsize));
  margin: auto;
  margin-left: 10px;
  margin-right: 10px;
}

.Kwestionariusz button {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: calc(30px + var(--additionaltextsize));
  color: var(--textColorBrown);
  background-color: var(--bgColorPeanutButter);
  border: 3px solid;
  border-color: var(--textColorBrown);
}

.ProponowanaKarma{
  background-color: #F6F1CB;
  font-size: calc(2vh + var(--additionaltextsize));
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /*padding-bottom: 2%;*/
  height: auto;
  width: 100%;
  /*overflow: auto;*/
}

.Karma-popup img {
  width: 250px;

  /*padding: 0px 5px 0px 5px;*/
  margin: auto;
}
.Karma-popup h4{

  color: #5E3A1F;
  font-size: calc(4vh + var(--additionaltextsize));
  margin-bottom: 0%;
  margin-top: 0%;
}
.Karma-popup h3 {
  margin-bottom: 2%;
  margin-top: 0%;
  color: #5E3A1F;
  font-size: calc(5vh + var(--additionaltextsize));
}
.Karma-popup h2 {

  color: #5E3A1F;
  font-size: calc(4vh + var(--additionaltextsize));
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 0%;
  margin-top: 0%;
}

.Karma-popup button {

  margin-top: 10px;
  margin-bottom: 10px;
  font-size: calc(30px + var(--additionaltextsize));
  color: var(--textColorBrown);
  background-color: var(--bgColorPeanutButter);
  border: 3px solid;
  border-color: var(--textColorBrown);
}


.Karma-popup{


  height: auto;
  width: auto;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #F6F1CB;

  color: #5E3A1F;
  border-radius: 15px;
  border-style: solid;
  border-width: 3px;
  border-color: #5E3A1F;
  top: 200px;
}


.DDK{
  background-color: #F6F1CB;

  position: absolute;
  top: 2700px;
  /*left: 36.5%;*/
  width: 100%;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-items: center;

}
.DodajDoKoszyka-Popup {
  position: absolute;
  /*padding-left: 10%;*/
  width: auto;
  height: auto;
  background-color: #F6F1CB;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #5E3A1F;
  border-radius: 15px;
  border-style: solid;
  border-width: 3px;
  border-color: #5E3A1F;
  /*margin: auto;*/

}

.DDK h1{
  margin: 40px;
}

.DDK button {
  margin: 40px;
  margin-top: 10px;
  margin-bottom: 10px;

  font-size: calc(30px + var(--additionaltextsize));
  color: var(--textColorBrown);
  background-color: var(--bgColorPeanutButter);
  border: 3px solid;
  border-color: var(--textColorBrown);
}

.Rejestr{
  background-color: #F6F1CB;
  z-index: 3;
  /*position: absolute;*/
  top: 2600px;
  height: 850px;
  /*left: 36.5%;*/
  width: 100%;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-items: center;
}
.RejestrPopup{
  position: absolute;
  /*padding-left: 10%;*/
  width: 100%;
  height: auto;
  background-color: #F6F1CB;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*color: #5E3A1F;*/
  /*border-radius: 15px;*/
  /*border-style: solid;*/
  /*border-width: 3px;*/
  /*border-color: #5E3A1F;*/
  /*margin: auto;*/
}
.RejestrPopup button {
  margin: 10px;
  margin-bottom: 30px;
  width: 600px;
  height: 150%;

  font-size: calc(20px + var(--additionaltextsize));
  color: #5E3A1F;
  background-color: #F6F1CB;
  border: 3px solid;
  border-color: var(--textColorBrown);
}

.Register1 h1{
  background-color:#e8bc76;
  width: 90%;
  padding: 20px;
  border-radius: 30px;
  font-size: calc(40px + var(--additionaltextsize));


}
.Register1{
    /*padding: 20px;*/
    /*position: relative;*/
    /*top: 100px;*/
    margin-left: auto;
    margin-right: auto;
    /*background-color: #CE9F54;*/
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 0;
    height: auto;
    border-radius: 30px;
  background: #5E3A1F;
}
.Register-Text-AreaKW{
  position: relative;
  top: -20px;
  display: inline-block;
  /*width: 300px;*/
  background-color: #5E3A1F;

  width: 95%;
  padding: 10px;
  vertical-align: center;
}
.Register1 div label{
  display: inline-block;
  position: relative;
  background-color: var(--bgColorCreamy);

  width: 150px;
  height: 35px;
  font-family: "Anek Gujarati", sans-serif;
  font-size: calc(20px + var(--additionaltextsize));
  padding-left: 20px;
  padding-right: 20px;

  color: var(--textColorBrown);
  border-radius: 5px 0 0 5px;
}

.Register1 div textarea{
  display: inline-block;
  position: relative;
  top: 15px;
  height: 30px;
  border-radius: 0 5px 5px 0;
  resize: none;
  text-align: center;
  line-height: 30px;
  width: 400px;

}
.Register-CheckBox-AreaKW{
  position: relative;
  top: -30px;
  /*left: -80px;*/
  width: 354px;
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: row;
  padding: 0px 10px 0px 10px;
  /*background-color:#5E3A1F ;*/



  /*border-color: #5E3A1F;*/
  font-family: "Anek Gujarati", sans-serif;
  color: #F6F1CB;

}

.Register1-CheckBox-AreaKW h3::after{
  content: attr(data-end);
  color: red;

}

.Kwestionariusz-Popup-Dodanie{
  position: absolute;
  //background-color: #aeff86;
  background-color: #F6F1CB;
  width: 600px;
  color: #5E3A1F;
  border-radius: 15px;
  border-style: solid;
  border-width: 3px;
  border-color: #5E3A1F;
  padding: 20px;
}

.Kwestionariusz-Register-Popup{
  position: absolute;
//background-color: #aeff86;
  background-color: #F6F1CB;
  width: 600px;
  color: #5E3A1F;
  border-radius: 15px;
  border-style: solid;
  border-width: 3px;
  border-color: #CE9F54;
  padding: 20px;
  top: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Kwestionariusz-Register-Popup button {
  position: relative;
  margin: 0;
  padding: 0;
}

.Kwestionariusz-Register-Popup button {
  background-color: #5E3A1F;
  color: var(--textColorCreamy);
}


/*########################################### POMOC ###########################################*/

.Pomoc {
  margin: 60px auto;
  width:90%;
  box-sizing: border-box;
  color: #5E3A1F;
}
.Pomoc li {
  list-style: none;
  width: 90%;
  margin: 20px;
  padding: 10px;
  border-radius: 8px;
  background-color: #CE9F54;
  color: #5E3A1F;
  /*box-shadow: 6px 6px 10px -1px rgba(94, 58, 31, 0.45),*/
  /*-6px -6px 10px -1px rgba(255, 255, 255, 0.7);*/
}
.LabelPomoc {
  display: flex;
  align-items: center;
  color: #5E3A1F;
  padding: 5px;
  font-size: 22px;
  font-weight: 500;
  cursor: pointer;
}
.LabelPomoc::before {
  content: '+';
  margin-right: 10px;
  font-size: 28px;
  font-weight: 700;
}
.InputPomoc{
  display: none;
}
.Pomoc .ContentPomoc{
  font-size: 16px;
  color: #5E3A1F;
  padding: 0 2px;
  line-height:26px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s, paadding 0.5s;
}
.InputPomoc:checked + .LabelPomoc + .ContentPomoc {
  max-height: 400px;
  padding: 10px 10px 20px;
}
.InputPomoc:checked + .LabelPomoc::before{
  content: '-';
}
.ButtonsPomoc {
  margin: 10px;
}
.Buttons2Pomoc{
  background-color: #CE9F54;
  margin: 10px;
  width: 190px;
  color: #5E3A1F;
}
.KontaktPomoc {
  padding: 20px;
  position: relative;
  /*top: 100px;*/
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  background-color: #CE9F54;
  width: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  height: auto;
  border-radius: 20px;
  margin-bottom: 50px;
}
.KontaktPomoc h1{
  font-size: calc(10px + 2vmin);
}
.KontaktPomoc div{
  font-size: calc(5px + 2vmin);
}
.MessagePomoc {
  padding: 20px;
  position: relative;
  /*top: 100px;*/
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  background-color: #CE9F54;
  width: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  height: auto;
  border-radius: 20px;
}
.MessagePomoc h1 {
  position: relative;
  top:-45px;
  background-color: var(--bgColorBrown);
  font-size: calc(30px + var(--additionaltextsize));
  font-family: "Anek Gujarati", sans-serif;
  width: 100%;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  color: var(--textColorCreamy);
}

.MessagePomoc-Text-Area{
  position: relative;
  top: -20px;
  display: inline-block;
  /*width: 300px;*/
  background-color: #5E3A1F;
  width: 90%;
  padding: 10px;
  vertical-align: center;
}

h1 + .MessagePomoc-Text-Area{
  border-radius: 5px 5px 0px 0px;
}

.MessagePomoc div label{
  display: table-row;
  position: relative;
  /*background-color: var(--bgColorCreamy);*/

  width: 90%;
  height: 35px;
  font-family: "Anek Gujarati", sans-serif;
  font-size: calc(20px + var(--additionaltextsize));
  padding-left: 20px;
  padding-right: 20px;

  color: var(--bgColorCreamy);
  border-radius: 5px 0 0 5px;
}

.MessagePomoc div textarea{
  display: inline-block;
  position: relative;
  border-radius: 0 5px 5px 0;
  resize: none;
  text-align: left;
  line-height: 30px;
  width: 90%;

}

.MessagePomoc div input{
  display: inline-block;
  position: relative;
  width: 90%;
  height: 30px;
  border-radius: 0 5px 5px 0;
  resize: none;
  text-align: left;
  line-height: 30px;
}


/*########################################### O NAS ###########################################*/

.NaszaFirmaONas {
  padding: 20px;
  position: relative;
  /*top: 100px;*/
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  background-color: #CE9F54;
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  height: auto;
  border-radius: 20px;
  margin-bottom: 50px;
}
.NaszaFirmaONas h1 {
  position: relative;
  top:-45px;
  background-color: var(--bgColorBrown);
  font-size: calc(30px + var(--additionaltextsize));
  font-family: "Anek Gujarati", sans-serif;
  width: 100%;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  color: var(--textColorCreamy);
}
.NaszaFirmaONas img{
    width: 200px;
    bottom: 100px;
    box-sizing: inherit;
    /*padding: 0px 5px 0px 5px;*/
    margin: auto;
  border: #5E3A1F 10px solid;
}
.OkienkoONas {
  display: inherit;
  width: 100%;
}
.NaszaFirmaONas div{
  width: 900px;
  font-family: "Anek Gujarati", sans-serif;
  font-size: calc(20px + var(--additionaltextsize));
  text-align: start;
  padding-left: 20px;
  margin-bottom: 40px;
  color: #5E3A1F;
;
}

/*########################################### HISTORIA ###########################################*/
.Historia-Komunikat{
  color: var(--bgColorBrown);
  font-family: "Anek Gujarati", sans-serif;
  font-size: calc(20px + var(--additionaltextsize));
}


.Historia h1 {
  position: relative;
  color: var(--bgColorCreamy);
  font-size: calc(36px + var(--additionaltextsize));
  margin: 0px 0 30px 0;
  background-color: var(--bgColorBrown);
  width: 100%;
}

.Historia-ListaZamówień{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1200px;
  background-color: #CE9F54;
  padding-bottom: 30px;
  margin-top: 0px;
}

.Historia-Zamówienie {
  background-color: #F6F1CB;
  width: 1000px;
  border-radius: 15px;
  margin-bottom: 30px;
}

.Historia-Zamówienie-Nagłówek{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 70px;

}

.Historia-Zamówienie-Nagłówek button{
  width: 200px;
  position: relative;
  left: 100px;
}

.Historia-Zamówienie-Dane{
  //background-color: #aeff86;
  width: 500px;
  height: 70px;
  position: relative;
  right: 120px;
  top: 10px;
  color: var(--textColorBrown);
  display: flex;
  flex-direction: column;
  justify-content: left;


  line-height: 20px;
  margin: 0;
  padding: 0;
}


.Historia-Zamówienie-Dane h2, .Historia-Zamówienie-Dane p{
  top: 10px;
  position: relative;
  margin: 0;
  padding: 0;
  width: 420px;
  //background-color: crimson;

}

.Historia-Zamówienie-Dane p{
  margin-top: 5px;
  width: 230px;
}

.Historia-Zamówienie-Informacje{
  position: relative;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;

}

.Historia-Zamówienie-Dane-Kontaktowe {
  //background-color: #aeff86;
  display: flex;
  flex-direction: column;
  justify-content: right;
  width: 300px;
  position: relative;
  right: 170px;

  height: fit-content;
  top: 20px;
  color: var(--textColorBrown);
}
.Historia-Zamówienie-Dane-Kontaktowe h2{
  //background-color: crimson;
  position: relative;
  width: 200px;
  margin: 0;
  padding: 0;
  text-align: left;
}

.Historia-Zamówienie-Dane-Kontaktowe h3{
  position: relative;
  //background-color: #61dafb;
  width: 270px;
  text-align: left;
  margin: 0;
  margin-left: 10px;

}

.Historia-Zamówienie-Status{
  //background-color: #aeff86;
  display: flex;
  flex-direction: column;

  width: 300px;
  position: relative;
  left: 170px;
  height: fit-content;
  top: 20px;
  color: var(--textColorBrown);
}

.Historia-Zamówienie-Status h2{
  //background-color: crimson;
  position: relative;
  width: 200px;
  margin: 0;
  padding: 0;
  text-align: left;
}

.Historia-Zamówienie-Status h3{
  position: relative;
  //background-color: #61dafb;
  width: 270px;
  text-align: left;
  margin: 0;
  margin-left: 10px;
}

.Historia-Zamówienie-Produkty{
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.Historia-Zamówienie-Produkty h2{
  position: relative;
  margin: 0px;
  padding: 0px;

}

.Historia-Zamówienie-Produkty div{
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Anek Gujarati", sans-serif;
  color: var(--textColorBrown);
  font-size: calc(20px + var(--additionaltextsize));
  margin-bottom: 5px;

}

.Historia-Zamówienie-Produkty h2{
  position: relative;
  color: var(--textColorBrown);
  font-size: calc(24px + var(--additionaltextsize));

}

.Kreseczka{
  position: relative;
  margin:0;
  padding: 0;
  height: 5px;
  background-color: var(--textColorBrown);
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.Historia-Podsumowanie{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.Historia-Podsumowanie h2{
  position: relative;
  color: var(--textColorBrown);
  font-size: calc(24px + var(--additionaltextsize));
}

.Regulamin {
  margin-top: 200px;
  padding: 20px;
  color: var(--textColorBrown);
  background-color: var(--bgColorNull);
}

.Regulamin h1  {
  font-size: calc(40px + var(--additionaltextsize));
  font-weight: bold;
}

.Regulamin p {
  display: inline-block;
  white-space: pre-wrap;
  text-align: left;
  font-size: calc(20px + var(--additionaltextsize));
  color: var(--textColorBrown);
  font-weight: normal;
}

/*########################################### DODAJ KARMY ###########################################*/
.DodajKarmy {
  background-color: var(--bgColorNull);
  color: var(--textColorBrown);
  height: auto;
  font-family: "Anek Gujarati", sans-serif;
  margin-bottom: 8em;
}

.DodajKarmy-header {
  font-size: calc(24px + var(--additionaltextsize));
  font-weight: bold;
  margin-block-start: 2em;
  margin-block-end: 0.5em;
}

.DodajKarmy-subheader {
  font-size: calc(20px + var(--additionaltextsize));

}

.DodajKarmy-question {
  margin-block-start: 2em;
  font-size: calc(30px + var(--additionaltextsize));
  margin-block-start: 2em;
  font-weight: bold;
  margin-block-end: 0.5em;
  color: var(--textColorBrown);
}

.DodajKarmy select {
  text-align: center;
  font-weight: bold;
  -webkit-appearance: none;
  width: 20%;
  font-size: calc(1.15rem + var(--additionaltextsize));
  color: var(--textColorBrown);
  padding: 0.675em 1em 0.675em 1em;
  background-color: var(--bgColorCreamy);
  border: 2px solid var(--textColorBrown);
  border-radius: 0.25rem;
  cursor: pointer;
  margin-bottom: 2em;
}

.DodajKarmy input[type='text'] {
  text-align: left;

  -webkit-appearance: none;
  width: 40%;
  font-size: calc(1.15rem + var(--additionaltextsize));
  color: var(--textColorBrown);
  padding: 0.675em 1em 0.675em 1em;
  background-color: var(--bgColorCreamy);
  border: 2px solid var(--textColorBrown);
  border-radius: 0.25rem;
  cursor: pointer;
}

.DodajKarmy input[type='checkbox'] {
  height: 20px;
  width: 20px;
  margin: auto;
  background-color: #F6F1CB;
  border-color: #5E3A1F;
}

.DodajKarmy h10 {
  font-size: calc(25px + var(--additionaltextsize));
  margin: auto;
  margin-left: 10px;
  margin-right: 10px;
}

.DodajKarmy h11 {
  font-size: calc(20px + var(--additionaltextsize));
  margin: auto;
  margin-left: 10px;
  margin-right: 10px;
}

.DodajKarmy button {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: calc(30px + var(--additionaltextsize));
  color: var(--textColorBrown);
  background-color: var(--bgColorPeanutButter);
  border: 3px solid;
  border-color: var(--textColorBrown);
}

.KarmyButtons2-KarmyAdmina{
  /*padding: 10px;*/
  background-color: var(--bgColorCreamy);
  color: var(--textColorBrown);
  border: 5px solid var(--bgColorBrown);
  width: 250px;
  height:250px;
  border-radius: 10px;
  cursor: pointer;
  opacity: 1;
  font-size:calc(17vh + var(--additionaltextsize));
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 100px;
}
.KarmyButtons3-KarmyAdmina{
  /*padding: 10px;*/
  background-color: var(--bgColorCreamy);
  color: var(--textColorBrown);
  border: 5px solid var(--bgColorBrown);
  width: 250px;
  height:45px;
  border-radius: 10px;
  cursor: pointer;
  opacity: 1;
  font-size:calc(2.5vh + var(--additionaltextsize));
  font-weight: bold;
  margin-top: 10px;
}
/*#######################################ZAMOWIENIA#######################################*/

.Zamowienia h1{
  font-size: 50px;

  font-family: "Anek Gujarati", sans-serif;
  font-weight: bold;
  color: var(--textColorBrown);
}

.Zamowienia h2{
  font-size: 30px;
  /*padding: 10px;*/
  margin-bottom: 0px;
  margin-top: -0px;
  text-align: left;
  font-family: "Anek Gujarati", sans-serif;
  font-weight: bold;
  color: var(--textColorBrown);
}

.Zamowienia h3{
  font-size: 30px;
  /*padding: 10px;*/
  margin-bottom: 0px;
  margin-top: -0px;
  text-align: center;
  font-family: "Anek Gujarati", sans-serif;
  font-weight: bold;
  color: var(--textColorBrown);
}

.Zamowienia h4{
  font-size: 25px;
  /*padding: 10px;*/
  margin-bottom: 0px;
  margin-top: -0px;
  text-align: center;
  font-family: "Anek Gujarati", sans-serif;
  font-weight: bold;
  color: var(--textColorBrown);
}

.Zamowienia-Conteiner{
  display: grid;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #F6F1CB;
  border: 5px solid var(--textColorBrown);

}

.Zamowienie{

  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10px;
  width: 80%;
  height: fit-content;
  display: inline-grid;
  align-content: center;
  flex-direction: column;
  border-radius: 10px;
  background-color: #F6F1CB;
  border: 10px solid var(--textColorBrown);
}

.ZamowienieDane{
 text-align: left;

}

.ZamowienieStatus{
  text-align: right;
  align-self: flex-end;

}

.Zamowienia select{
  width: 150%;
  background-color: #F6F1CB;
  border: 2px solid var(--textColorBrown);
  border-radius: 5px;
  cursor: pointer;
  font-family: "Anek Gujarati", sans-serif;
  font-size: 20px;
}
.ZamowienieTop{

  width: 100%;
  height: fit-content;
  display: inline-grid;
  flex-direction: row;
  align-content: center;


  grid-template-columns: 50% 50% ;
  justify-items: center;
  background-color: #e8bc76;

}

.ProduktyHead{
  background-color: #5E3A1F;
  text-align: center;
  font-size: 30px;
  color: #e8bc76;
  font-family: "Anek Gujarati", sans-serif;
  font-weight: bold;
}

.Produkty{
  background-color: #F6F1CB;
  display: block;
}

.Produkt{

  width: 90%;
  margin: 5%;
  margin-top: 1%;
  margin-bottom: 1%;

  border: 5px solid var(--textColorBrown);
  border-radius: 10px;

  height: fit-content;
  display: inline-grid;
  flex-direction: row;
  align-content: center;
  grid-template-columns: 10% 90% ;
  justify-items: center;
  background-color: #e8bc76;
  text-align: center;
  font-size: 30px;
  font-family: "Anek Gujarati", sans-serif;
  font-weight: bold;
}

.Ilosc{
  width: 100%;
  background-color: #5E3A1F;
  text-align: center;
  font-size: 30px;
  color: #e8bc76;
  font-family: "Anek Gujarati", sans-serif;
  font-weight: bold;

}

.Nazwa{
  width: 100%;
  text-align: left;
  padding-left: 10%;
  font-size: 30px;
  color: #5E3A1F;
  font-family: "Anek Gujarati", sans-serif;
  font-weight: bold;

}

